.box-div:hover .grid-img{
    background-color: #4b94ed;
}

.box-div:hover .grid-zizag-img{
    opacity: 1;
}

.backImg{
    background-image: url(images/feature-section-2BG.svg);
}

.new-f-cardImg{
    background-image: url(images/instant-settlement-bg.svg);
    /* box-shadow: 1px 1px 3px 1px rgb(219, 214, 214); */
}

.new-f-cardImg:hover{
    background-image: url(images/instant-settlement-bghover.svg);
}

.core-f-section{
    background-image: url(images/core-features-sectionBg.svg);
    background-size: 100% 100%;
    padding-top: 12rem;
    padding-bottom: 12rem;
}

.CompanyList{
    animation: moveCompany 30s infinite linear;
}

@keyframes moveCompany {
    0%{
        top: 0;
    }
    100%{
        top: -160%;
    }
}

.CTAsection{
    background-image: url(images/CTABg.svg);
    background-size: 100% 100%;
}